html {
	font-family:"Comic Sans MS", cursive, sans-serif;
	background-color: #c9d8c5;
}

#naslov {
	font-family:"Comic Sans MS", cursive, sans-serif;
	background-color: #c9d8c5;
}

.unospodataka {
	width: 1000px;
	height: 700px;
	background: #a8b6bf;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	text-align: center;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

#cijenalgoriva{
	padding-bottom: 0px;
}

.potvrdagumb {
	padding-left: 100px;
}