html {
	background-color: #c9d8c5;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

.login-box h3 {
	margin-top: 20px;
}

.form input {
	width: 307px;
}

.pass input {
	width: 307px;
	margin-top: 10px;
}

.login-box
{
	width: 380px;
	height: 280px;
	background: #a8b6bf;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	text-align: center;

}

.login-box .checkbox input {
	margin-top: 10px;
	text-align: left;
	margin-left: 0px;
}

.login-box button {
	margin-left: 110px;
	margin-top: 10px;
	text-align: right;
}

.login-box .checkbox.icheck {
	width: 100px;
	margin-left: 53px;
}
.login-box .checkbox.icheck label {
	

}